@mixin omit-text($line) {
  overflow: hidden;
  text-overflow: ellipsis;
  @if ($line == 1) {
    white-space: nowrap;
  } @else {
    word-break: break-all;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
  }
}

@mixin autofill-disable($bg: var(--aj-color-bg), $text: var(--aj-color-text)) {
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-text-fill-color: $text;
    -webkit-box-shadow: 0 0 0 1000px $bg inset;
  }
}

%selection-disable {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

%btn-base {
  @apply py-1 px-3 border rounded-md cursor-pointer transition duration-300;
}
